# Put your secrets in this file for streamlit on your local computer
# Copy them in Streamlit cloud under `Advanced Settings...` > `Secrets`
# Mind the format: spaces, quotation marks, ... it all matters

# Use them in your Streamlit app using `st.secrets['my_name']

# For more background on how to use secrets,
# check https://blog.streamlit.io/secrets-in-sharing-apps/


# Everything in this section will be available as an environment variable
my_name = "John"
cloud_api_uri = "https://url_of_your_api_on_google_cloud.run.app"
local_api_uri = "https://localhost:8000"
local_docker_uri = "https://localhost:8080"


# You can also add other sections if you like.
# The contents of sections as shown below will not become environment variables,
# but they'll be easily accessible from within Streamlit anyway as we show
# later in this doc.
[my_cool_secrets]
things_i_like = ["Streamlit", "Python"]
