LOCAL_DATA_PATH: raw_data
LOCAL_REGISTRY_PATH: models

DATA_SOURCE: local
MODEL_TARGET: local

GCP_PROJECT: project-id-123456
GCP_REGION: europe-west1

GOOGLE_APPLICATION_CREDENTIALS: credentials.json

BUCKET_NAME: your-bucket-name
RAW_DATA_LOCATION: raw_data
MODELS_LOCATION: models

DATASET: your_dataset
INSTANCE: instance_name

MLFLOW_TRACKING_URI: https://mlflow.lewagon.ai
MLFLOW_EXPERIMENT: project_name_experiment_<user.github_nickname>
MLFLOW_MODEL_NAME: project_name_<user.github_nickname>

DOCKER_REPO_NAME: docker
DOCKER_IMAGE_NAME: api
MEMORY: "2Gi"
