#           /\              Make sure to
#          /  \             replicate all
#         / || \            these in your
#        /  ||  \           .env.yaml file
#       /   ||   \          so that it also
#      /    ..    \         works on GCP
#     /____________\




LOCAL_DATA_PATH=raw_data
LOCAL_REGISTRY_PATH=models

# Data source, replace with 'cloud' to source from cloud (depending on how you write your functions)
DATA_SOURCE=local
MODEL_TARGET=local

# GCP Project
GCP_PROJECT=project-id-123456
GCP_REGION=europe-west1

# On GCP console, create a new service account for your project, create a new key,
# save it on your local drive (make sure its .gitignored!), and add the path to it here
GOOGLE_APPLICATION_CREDENTIALS=credentials.json

# Cloud Storage
BUCKET_NAME=your-bucket-name
# Folder in your bucket where raw_data is stored
RAW_DATA_LOCATION=raw_data
# Folder in your bucket where your model is stored
MODELS_LOCATION=models

# BigQuery (only if you use it)
BQ_REGION=EU
DATASET=your_dataset

# Compute Engine (only if you use it)
INSTANCE=instance_name

# Model Lifecycle
MLFLOW_TRACKING_URI=https://mlflow.lewagon.ai
MLFLOW_EXPERIMENT=project_name_experiment_<user.github_nickname>
MLFLOW_MODEL_NAME=project_name_<user.github_nickname>

# Docker
DOCKER_LOCAL_PORT=8080
DOCKER_REPO_NAME=docker
DOCKER_IMAGE_NAME=api
