# data science
numpy
pandas

# Uncomment if you use sklearn
# scikit-learn

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
# tensorflow~=2.13    # For both Intel and Apple silicon

# Google Cloud
google-cloud-storage

python-dotenv

# API
fastapi
uvicorn
